<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
	<header>
		<div id="banner">
			<img id="logo" src="./images/chatter_logo.png">
		</div>
	</header>
	<div id="wrapper">	
		<%= yield %>
	</div>
	<footer>
		&#169; 2015 <span id="blue_bold">Chatter</span> - All rights reserved.
	</footer>

</body>
</html>