<title><%= @title %></title>

	<h1 class="message">Welcome to Chatter!</h1>
	<div id="signup">
		<h3>Sign Up</h3>
		<h6>It's always free and always will be.</h6>
		<form>
		</form>
	</div>
	<div id="login">
		<h3>Log In</h3>
		<h6>Welcome back!</h6>
		<form>
		</form>
	</div>
	<div class="clear"></div>
