<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="./js/javascript.js"></script>
</head>

<body>
	<header>
		<div id="banner">
			<img id="logo" src="./images/chatter_logo.png">
			<nav>
				<%
					nav = ["Profile", "Chatter", "Users", "Log Out"]
					pages = ["profile", "login_success", "users", "logout"] 
				%>
				<ul>
					<!-- start outputting nav elements as list items -->	
					<% nav.each_with_index do |page, index| %>
						<li>
							<a id="navbar" href="/<%= pages[index] %>">
								<%= page %>
							</a>	
						</li>
					<% end %>
				</ul>
			</nav>
					<!-- end outputting nav elements as list items -->
		</div>
	</header>
	<div id="wrapper">	
		<%= yield %>
	</div>
	<footer>
		&#169; 2015 <span id="blue_bold">Chatter</span> - All rights reserved.
	</footer>

</body>
</html>