	<h1 class="message">Thanks for Stopping By!</h1>
	<div id="goodbye">
		<img id="byefornow" src="./images/goodbye.png" width="360px">
	</div>
	<div id="login">
		<h3>Log In</h3>
		<h6>Welcome back!</h6>
		<form>
		</form>
	</div>
	<div class="clear"></div>