<title><%= @title %></title>

	<img id="profile_placeholder" src="./images/profile_placeholder.jpg">
	<div class="profile_info">
		<h1 class="profile_name">Erin Mahon</h1>
		<p class="profile_fact">Female</p>
		<p class="profile_fact">Philadelphia, PA</p>
		<p class="profile_fact">Student</p>
		<p class="profile_fact">February 3, 1989</p>
	</div>
	<div id="new_post">
		<img id="bubbles" src="./images/chatting_bubbles.png" width="150px">
		<form id="post_form">
			<label id="post_label" for="post">&nbsp;What's new with you?&nbsp;
				<br>
				&nbsp;Join the chatter now!&nbsp;</label>
			<br>
			<br>
			<textarea name="post" rows="6" cols="46"></textarea>
			<br>
			<input class="button" type="submit" value="Post">
		</form>
	</div>
	<div class="clear"></div>
	<div id="profile_section_titles">
		<h2 class="profile_title" id="following_title">Following</h2>
		<h2 class="profile_title" id="recent_posts_title">Recent Chatter</h2>
	</div>
	<div class="clear"></div>
	<div id="following_list">
	</div>
	<div id="recent_chatter">
	</div>
	<div class="clear"></div>