<title><%= @title %></title>

	<img id="profile_placeholder" src="./images/profile_placeholder.jpg">
	<div class="profile_info">
		<h1 class="profile_name">Erin Mahon</h1>
		<p class="profile_fact">Female</p>
		<p class="profile_fact">Philadelphia, PA</p>
		<p class="profile_fact">Student</p>
		<p class="profile_fact">February 3, 1989</p>
	</div>
	<div id="new_post">
		<form>
			<label></label>
			<textarea rows="10" cols="40"></textarea>
		</form>
	</div>
	<div class="clear"></div>
	<div id="profile_section_titles">
		<h2 class="profile_title" id="following_title">Following</h2>
		<h2 class="profile_title" id="recent_posts_title">Recent Posts</h2>
	</div>
	<div class="clear"></div>
	<div id="following_list">
		<ul>
			<li>Wolfy Mahon</li>
			<li>Porter Mahon</li>
			<li>Michael Stafford</li>
			<li>Tara Mahon</li>
			<li>Shannon Mahon</li>
		</ul>
	</div>
	<div class="clear"></div>