<h1>Users hello</h1>

<% @users.each do |user| %>
	<% if user.user_name != session[:session_user_name] %>
		<a href="/<%= user.user_name %>">
			<%= user.user_name %>
		</a>
		<br />
	<% end %>
<% end %>